<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>TwitterGeoDemo</title>

<!-- CSS (load bootstrap) -->
<link rel="stylesheet" href="/css/bootstrap_flatly.min.css">
<!-- <link href="/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/usercard.css">
<link rel="stylesheet" href="/css/timeline.css">
<style type="text/css">
	body {
		font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
		background-color: #ddd;
	}
</style>