<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style type="text/css">
		.jumbotron {
			background-color: #ddd;
		}
	</style>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				
					<div class="jumbotron">
						<h1>Contact</h1>
						<p><a href="mailto://zjwang0414@gmail.com">zjWang0414@gmail.com</a></p>
						<p><a href="https://twitter.com/zhenjunWang" target="_blank">@zhenjunWang</a></p>
					</div>
					
				</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>