<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style type="text/css">
		.jumbotron {
			background-color: #ddd;
		}
	</style>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<div class="container">
				<h1>TwiventGeo</h1>
				<p>
					TwiventGeo is a demo of visualization system for showing how does some event/topic/trend propagate around the world. The activities of different topics are also demonstrated by geotagging.
				</p>
				<p><a href="/rtnetwork" class="btn btn-primary btn-lg" role="button">Have a try »</a></p>
			</div>
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>